{{ form_start(comment_form, {method: 'POST', action: path('create-comment', {'id': post.id})}) }}

<fieldset>
    <div class="form-group">
        {{ form_widget(comment_form) }}
    </div>
</fieldset>
{{ form_end(comment_form) }}